<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="username" value="demosalesmanager"></parameter>
<parameter name="password" value="crmsfa"></parameter>
<parameter name="url" value="http://leaftaps.com/opentaps/"></parameter>
  <test thread-count="5" name="Test" verbose="10">
    <classes>
      <class name="testngstaticdata.CreateLead"/>
      <!-- class name="week5.day1.DeleteLead"/ -->
      <!--class name="week5.day1.DuplicateLead"/-->
      <class name="testngstaticdata.EditLead"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
